.car-main-page {
  margin-top: 15px;
}

.item {
  margin-bottom: 10px;
}

.item .card {
  border: none;
  cursor: pointer;
}

#pagination {
  float: right;
}

#pagination li {
  cursor: pointer;
}

.img-thumbnail {
  width: 100%;
  height: 500px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
}