<div>
    <div class="row container">
      <div class="col-sm-3 menu">
          <menu></menu>
      </div>
      <div class="col-sm-9 row profile-area">
        <div class="col-sm-12">
          <button type="button" class="btn btn-secondary btn-lg btn-block" disabled>PROFILE</button>
        </div>
        <div class="col-sm-12 row">
            <div class="col-sm-4 image-area">
                <img src="https://s3.ap-south-1.amazonaws.com/gg-statics/testimonial/1521018917.png" alt="">
            </div>
            <div class="col-sm-8 information-area">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">User Name:</th>
                        <td>Josh</td>
                      </tr>
                      <tr>
                        <th scope="row">Email:</th>
                        <td>Josh@gmail.com</td>
                      </tr>
                      <tr>
                        <th scope="row">Type:</th>
                        <td>User</td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <button type="button" class="btn btn-secondary">Change Password</button>
                          <button type="button" class="btn btn-success">Create Deal</button>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 cars-area">
          <button type="button" class="btn btn-secondary btn-lg btn-block" disabled>My Cars</button>
          <table class="table table-bordered table-dark">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Image</th>
                  <th scope="col">Created date</th>
                  <th scope="col">Valid date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>BMW</td>
                  <td><img src="https://crdms.images.consumerreports.org/prod/cars/cr/car-groups/106-11344" class="" alt="Responsive image"></td>
                  <td>2018-11-18</td>
                  <td>2018-11-18</td>
                  <td>Rented</td>
                  <td><button type="button" class="btn btn-success">Edit</button></td>
                </tr>
                <tr>
                  <td>BMW</td>
                  <td><img src="https://crdms.images.consumerreports.org/prod/cars/cr/car-groups/106-11344" class="" alt="Responsive image"></td>
                  <td>2018-11-18</td>
                  <td>2018-11-18</td>
                  <td>Instock</td>
                  <td><button type="button" class="btn btn-success">Edit</button></td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>