<div>
    <div class="row container">
      <div class="col-sm-3 menu">
          <menu></menu>
      </div>
      <div *ngFor="let item of car" class="col-sm-9 row details">
        <div class="col-sm-12">
          <button type="button" class="btn btn-secondary btn-lg btn-block" disabled>Deal Details</button>
        </div>
        <div class="col-sm-12 name-car">
          <div class="row col-sm">{{item.carName}}</div>
          <div class="row justify-content-between">
              <div class="col-sm-4 align-self-start">[Available: In Store]</div>
              <div class="col-sm-4 align-self-end">[{{item.price}}]</div>
          </div>
          <hr/>
        </div>
        <div class="col-sm-12 image-car row">
          <div class="col-sm-8">
              <img src="https://crdms.images.consumerreports.org/prod/cars/cr/car-groups/106-11344" class="" alt="Responsive image">
          </div>
          <div class="col-sm-4">
            <div class="col-sm">
              <div class="col-sm">
                Car available from : [{{item.startDate}}]
              </div>
              <div class="col-sm">
                  to : [{{item.endDate}}]
              </div>
              <div class="col-sm">
                Price rent(per months): [{{item.price}}]
              </div>
              <div class="col-sm">
                Onwer's credit score: [50/100]
              </div>
              <div class="col-sm">
                  <button type="button" class="btn btn-success">Rent this car</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 details-car">
          <hr/>
          <div class="row status-car">
              <div class="col-sm-6">
                  <span>
                      [Mileage : {{item.mileage}}]
                  </span>
                </div>
                <div class="col-sm-6">
                  <span>
                      [Stock # : {{item.stock}}]
                  </span>
                </div>
                <div class="col-sm-6">
                  <span>
                      [VIN : {{item.vin}}]
                  </span>
                </div>
                <div class="col-sm-6">
                  <span>
                      [Transmission: {{item.transmission}}]
                  </span>
              </div>
          </div>
          <hr/>
          <div class="row feature-car col-sm-12">
              <table class="table table-bordered table-dark">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Highlight Feature</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><i class="fas fa-check"></i></th>
                      <td>Leather upholstery</td>
                    </tr>
                    <tr>
                      <th scope="row"><i class="fas fa-check"></i></th>
                      <td>Split folding rear seat</td>
                    </tr>
                    <tr>
                      <th scope="row"><i class="fas fa-check"></i></th>
                      <td>Heated front seats</td>
                    </tr>
                    <tr>
                      <th scope="row"><i class="fas fa-check"></i></th>
                      <td>Remote keyless entry</td>
                    </tr>
                  </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>